.Gericht{
    max-width: 33%;
}
.Preis {
    color:green;
    font-size:17pt;
}
.ImagePfad{
       width: 700px;
}
.Kategorie{
    font-size:15pt;
}
.Bezeichnung{
    font-size:25pt;
}
.div{
    display:flex;
}