<ion-content>
  <!-- TODO: Schöneres Layouting für Anzeige von Gerichten -->
    <div class="div">
    <ion-card class="Gericht" *ngFor="let gericht of hauptgerichte">
        <img class="ImagePfad" src="{{gericht.ImagePfad}}">
      <ion-card-title class="Bezeichnung">{{ gericht.Bezeichnung }}</ion-card-title>
       <ion-card-content class="Kategorie"> {{gericht.Kategorie}}</ion-card-content>
      <ion-card-subtitle class="Preis"> {{ gericht.Preis | currency:'EUR' }}</ion-card-subtitle>

  </ion-card>
</div>

<div class="div">
    <ion-card class="Vorspeise " *ngFor="let gericht of beilagen">
      <ion-card-title class="Bezeichnung">{{ gericht.Bezeichnung }} </ion-card-title> 
       <ion-card-content class="Kategorie"> {{gericht.Kategorie}}</ion-card-content>
      <ion-card-subtitle class="Preis">{{ gericht.Preis | currency:'EUR'}}</ion-card-subtitle>
    </ion-card>
  </div>
</ion-content>

