.Gericht{
    position: relative;
    max-width: 30%;
}
.Preis {
    color:green;
    font-size:17pt;
    text-align: center;

}
.ImagePfad{
    height: 300px;
    object-fit: cover;
}
.Kategorie{
 font-size:15pt;
 text-align: center;

}
.Bezeichnung{
 font-size:20pt;
 text-align: center;
}
.div{
 display:flex;
 flex-wrap: wrap;
}

.Vorspeise {
    position: relative; 
    display: flex;
    position: relative;    
}